*{
    box-sizing: border-box;
    margin: 0em;
    padding: 0em;
    scroll-padding-top: 8.5em;
}

body{
    background-color: rgb(200, 233, 231);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#mainbar{
    background-color: teal;
    position: sticky;
    top: 0;
    padding-left: 1em;
    padding-top: 1em;
    z-index: 100;
}

#nav{
    position: relative;
    right: 1em;
    display: flex;
    padding-top: 1em;
    flex-wrap: wrap;
}

.navbutton{
    cursor: pointer;
    text-decoration: none;
    color: black;
    padding: 1em;
}

.navbutton:hover{
    background-color: honeydew;
}

#main{
    margin: 1em;
}

.languages{
    display: flex;
}

.language_icon{
    width:100px;
    height:100px;
}

#contact{
    background-color:rgb(73, 73, 73);
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

#contact_heading{
    text-align: center;
}

.contact_details{
    display: flex;
}

.contact_icons{
    width:15px;
    height:15px;
}
