*{
    box-sizing: border-box;
    margin: 0em;
    padding: 0em;
    scroll-padding-top: 8.5em;
    scroll-behavior: smooth;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(1, 8, 3);
}

hr {
    background-color: rgb(114, 186, 95);
    height: 3px;
    border-width: 0;
    margin-left: 40%;
    margin-right: 40%;
}

/* Landing screen elements */
#landing{
    background-color: rgb(99, 105, 101);
    width: 100%;
    height: 100vh;
    padding-left: 30%;
    padding-right: 30%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

#profilePic {
    width: 20%;
    height: auto;
    margin-right: 3%;
}

/* Navigation bar elements */
#nav{
    background-color: rgb(114, 186, 95);
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 100;
    padding-left: 15%;
    padding-right: 15%;
}

.navbutton{
    cursor: pointer;
    text-decoration: none;
    color: black;
    padding: 1em;
}

.navbutton:hover{
    background-color: rgb(142, 200, 126);
}




/* The main body of the website */
#main{
    margin: 1em;
    padding-left: 15%;
    padding-right: 15%;

}

/* About section */
#about {
    padding-bottom: 4em;
}

#about ~ section {
    padding-top: 4em;
    padding-bottom: 4em;
}

/* Skills section */
#cardHolder{
    display: flex;
    padding: 3rem;
    justify-content: space-evenly;
    
}

.skillCard:hover{
    filter: grayscale(0);
    transition: .5s ease;
}

.languageIcon{
    width:100px;
    height:100px;
    filter: grayscale(1);
}

.languageIcon:hover{
    filter: grayscale(0);
    transition: .5s ease;
}


/* Projects section */

.bigProject {
    position: relative;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    flex-wrap: nowrap;
    border: 2px solid black;
    margin: 1em;
    /* height: 30em; */
    align-items: center;
    padding: 2em;
    gap: 2em;
}

.reverse {
    flex-direction: row-reverse;
}

.bigProjectLink {
    width: 100%;
}

.bigProjectImage {
    width: 100%;
}

.bigProjectDescription {

    color: rgb(1, 8, 3);
}

.projectGithubRight {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    z-index: 50;
}

.projectGithubLeft {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    z-index: 50;
}







#smallProjects{
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

.projectLink{
    width: 20em;
    height: 20em;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.projectImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.overlay {
    position: absolute;
    bottom: 0;
    background-color: rgba(99, 105, 101, 0.829);
    overflow: hidden;
    width: 100%;
    height: 0; 
    transition: .5s ease;
}

.container:hover .overlay {
    height: 50%;
}

.projectDescription {
    color: white;
    margin:1vw;
}


/* Contact info and footer */
#contact{
    background-color: rgb(99, 105, 101);
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

#contact_heading{
    text-align: center;
}

.contact_details{
    display: flex;
}

.contact_icons{
    width:15px;
    height:15px;
}
