/* FONT SIZING */

/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step-1: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  --step-2: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --step-3: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --step-4: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --step-5: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --step-6: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
  --step-7: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
  --step-8: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);

  /* SPACING */

  /* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vw, 0.625rem);
  --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
  --space-s: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
  --space-l: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vw, 5rem);
  --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vw, 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.3125rem, 0.2038rem + 0.5435vw, 0.625rem);
  --space-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522vw, 0.9375rem);
  --space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522vw, 1.25rem);
  --space-s-m: clamp(1.125rem, 0.8641rem + 1.3043vw, 1.875rem);
  --space-m-l: clamp(1.6875rem, 1.4049rem + 1.413vw, 2.5rem);
  --space-l-xl: clamp(2.25rem, 1.7283rem + 2.6087vw, 3.75rem);
  --space-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261vw, 5rem);
  --space-2xl-3xl: clamp(4.5rem, 3.4565rem + 5.2174vw, 7.5rem);

  /* Custom pairs */
  --space-s-l: clamp(1.125rem, 0.6467rem + 2.3913vw, 2.5rem);

  /* THEMES */

  /* https://www.realtimecolors.com/?colors=051008-f9fdfa-3dc370-9bcce0-698cd0&fonts=Inter-Inter */

  /* Light */
  --clr-text-light: rgb(5 16 8);
  --clr-background-light: rgb(249 253 250);
  --clr-primary-light: rgb(61 195 112);
  --clr-secondary-light: rgb(155 204 224);
  --clr-accent-light: rgb(105 140 208);

  /* Dark */
  --clr-text-dark: rgb(239 250 242);
  --clr-background-dark: rgb(3 8 4);
  --clr-primary-dark: rgb(60 195 112);
  --clr-secondary-dark: rgb(31 82 101);
  --clr-accent-dark: rgb(48 82 151);

  /* THEME SWITCHER */

  color-scheme: var(--color-scheme, light dark);

  --clr-text: var(--clr-text-light);
  --clr-background: var(--clr-background-light);
  --clr-primary: var(--clr-primary-light);
  --clr-secondary: var(--clr-secondary-light);
  --clr-accent: var(--clr-accent-light);

  &:has(#dark:checked) {
    --color-scheme: dark;
    --clr-text: var(--clr-text-dark);
    --clr-background: var(--clr-background-dark);
    --clr-primary: var(--clr-primary-dark);
    --clr-secondary: var(--clr-secondary-dark);
    --clr-accent: var(--clr-accent-dark);
  }

  @media (prefers-color-scheme: dark) {
    &:has(#system:checked) {
      --color-scheme: dark;
      --clr-text: var(--clr-text-dark);
      --clr-background: var(--clr-background-dark);
      --clr-primary: var(--clr-primary-dark);
      --clr-secondary: var(--clr-secondary-dark);
      --clr-accent: var(--clr-accent-dark);
    }
  }

  /* OTHER VARIABLES */
  --border-rad: 15px;
}

p,
a,
h1,
legend {
  color: var(--clr-text);
}

body {
  background-color: var(--clr-background);
}

.visually-hidden:not(:focus, :active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* https://www.realtimecolors.com/?colors=06190e-f0fcf5-42d480-96d1e7-6293db&fonts=Inter-Inter
https://www.realtimecolors.com/?colors=060f07-f5fbf6-59ba67-9ed7d6-7ab0c8&fonts=Inter-Inter
https://www.realtimecolors.com/?colors=051008-f9fdfa-3dc370-9bcce0-698cd0&fonts=Inter-Inter
https://www.realtimecolors.com/?colors=042011-f8fefb-35e380-86eeee-5fcae9&fonts=Inter-Inter
https://www.realtimecolors.com/?colors=030c05-fbfefc-40d46f-92e7e6-69b5dd&fonts=Inter-Inter */
