---
const { title = "My Astro Website", ...props } = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <meta name="robots" content="noindex" />
  <link rel="sitemap" href="/sitemap-index.xml" />
  <title>{title}</title>
  <meta name="description" content="Welcome to my new Astro site!" />
  <meta name="color-scheme" content="light dark" />
  <script>
    const themeFromStorage = localStorage.getItem("theme") || "";

    function setChecked(id: string) {
      if (!id) return;
      const element: HTMLInputElement = document.getElementById(
        id,
      ) as HTMLInputElement;

      element.checked = true;
      return;
    }

    setChecked(themeFromStorage);
  </script>
</head>
