---

---

<header>
  <a href="#main_content" class="visually-hidden"> Jump to main content </a>
  <a href="/">RobLR.io</a>
  <nav>
    <a href="/">Home</a>
    <a href="/blog">Blog</a>
    <a href="/portfolio">Portfolio</a>
  </nav>

  <form id="theme-selector">
    <legend class="visually-hidden">Theme Switcher</legend>

    <div>
      <label for="light" class="visually-hidden">Select Light Theme</label>
      <label for="system" class="visually-hidden"
        >Select System Default Theme</label
      >
      <label for="dark" class="visually-hidden">Select Dark Theme</label>
    </div>
    <div id="theme-switcher">
      <input
        aria-label="Select light theme"
        title="light"
        type="radio"
        id="light"
        name="theme"
        value="light"
      />
      <input
        aria-label="Select system theme"
        title="system"
        type="radio"
        id="system"
        name="theme"
        value="system"
      />
      <input
        aria-label="Select dark theme"
        title="dark"
        type="radio"
        id="dark"
        name="theme"
        value="dark"
      />

      <div id="slider" data-placement="left"></div>
    </div>
  </form>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    background-color: var(--clr-primary);
    align-items: center;
  }
  nav {
    display: flex;
  }

  nav > a {
  }

  form {
    margin: 0;

    & #theme-switcher {
      /* border: 1px solid black; */
      border-radius: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem;
      position: relative;
    }

    & input[type="radio"] {
      margin: 0;
      appearance: none;
      font: inherit;
      color: currentColor;
      width: 2rem;
      aspect-ratio: 1/1;
      background-size: 75%;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 100%;
      z-index: 1;
    }

    & #slider {
      width: 2rem;
      aspect-ratio: 1/1;
      border-radius: 100%;
      border: 0;
      position: absolute;
      z-index: 0;
      transition: all 0.5s ease;
    }

    & div:has(#light:checked) > div {
      left: 0;
    }

    & div:has(#system:checked) > div {
      left: calc(50% - 1rem);
    }

    & div:has(#dark:checked) > div {
      left: calc(100% - 2rem);
    }

    & #light {
      background-image: url("/src/assets/icons/light_mode.svg");
    }
    & #dark {
      background-image: url("/src/assets/icons/dark_mode.svg");
    }
    & input[type="radio"]:checked {
      /* border: 0.15em solid red; */
      /* background-color: grey; */
    }
  }
</style>

<script>
  const form = document.getElementById("theme-selector");

  form?.addEventListener("click", switchTheme);

  function switchTheme(e: any) {
    const selectedTheme: string = e.target.value;

    localStorage.setItem("theme", selectedTheme);
  }
</script>
