---
const { projectName, projectTags, projectDescription, img } = Astro.props;
---

<div>
  <img src="" alt="" />
  <div>
    <h3>{projectName}</h3>
    <p>{projectDescription}</p>
    <div>
      <div>
        <p></p>
      </div>
      <div>
        <p></p>
      </div>
      <div>
        <p></p>
      </div>
    </div>
  </div>
</div>
