---
import { getCollection } from "astro:content";
import PortfolioCard from "./PortfolioCard.astro";
const projects = await getCollection("portfolio");

console.log(projects);
---

<div>
  <section>
    <h1>Portfolio</h1>
    {
      projects.map((project: any) => (
        <PortfolioCard projectData={project.data} />
      ))
    }
  </section>
</div>
